div{
  /* width: 730px; */
  height: 300px;
  border: 3px solid green;
}

.dogone{
  border: 10px groove powderblue;
}

.dogtwo{
  border: 15px ridge lavender;
}

.dogthree{
  border: 20px outset peachpuff;
}
